<ion-content>
  <div class="fondo">
    <ion-card>
      <img src="../../../assets/img/duoclogo.png" alt="" class="imagen_login">
      <ion-card-header>
        <ion-card-subtitle>LOGIN USUARIO</ion-card-subtitle>
        <!-- <ion-card-title>LOGIN PROFESOR</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        
        <ion-item>
          <ion-label>RUT</ion-label>
          <ion-input type="text" placeholder="Ingrese rut" [(ngModel)]="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese contraseña" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button (click)="login()">INGRESAR</ion-button>
      </ion-card-content>
      <ion-button routerLink='/registrar'>Ir a registrar...</ion-button>
    </ion-card>
  </div>
</ion-content>
